.button_userbox {
  background-color: #132058 !important;
  border: none;
  cursor: pointer;
  color: rgb(255, 255, 255) !important;
  font-family: "Red Hat Text", sans-serif !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0px !important;
  height: 45px !important;
}

.button_userbox:hover {
  border: none;
  cursor: pointer;
  color: black;
}


